<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布评论</title>
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>
<form id="addForm" action="/comment/send" method="post">
    <input type="text" id="comment" name="comment" size="150" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd">提交</button>
<script type="text/javascript">
  $("#submitAdd").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment").val();
  var uname = window.localStorage.getItem('uname')
  var data = {'comment':comment,'uname':uname};
<!--  console.log(data)-->
   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
</script>
</body>
</html>