<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛首页</title>
    <script src="/static/js/jquery.min.js"></script>
    <style>
        .title{
            
            color: brown;
            margin: 5px;
            padding: 5px;
        }
        span{
            margin: 5px;
            padding: 5px;
            color:burlywood
        }
        .msg{
            width: 500px;
            height: 30px;
            border: 1px solid #007;
            margin: 5px;
            padding: 5px;
        }
        .comment{
            width: 500px;
            height: 30px;
            border: 1px solid #017;
            margin: 5px;
            padding: 5px;
        }
        button,form{
            margin: 5px
        }
        

    </style>
</head>
<body>
        <button type="button" id="publish">发布帖子</button>

<div id="title1" class="title"></div><span id="uname1"></span>
<div id="msg1" class="msg"></div>
<div class="comment" id='com1'></div>
<form id="addForm" action="/topic/send" method="post">
    <input type="text" id="comment1" name="comment1" size="75" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd1">发布评论</button>
<br>

<div id="title2" class="title"></div><span id="uname2"></span>
<div id="msg2" class="msg"></div>
<div class="comment" id='com2'></div>
<form id="addForm" action="/topic/send" method="post">
    <input type="text" id="comment2" name="comment2" size="75" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd2">发布评论</button>
<br>

<div id="title3" class="title"></div><span id="uname3"></span>
<div id="msg3" class="msg"></div>
<div class="comment" id='com3'></div>
<form id="addForm" action="/topic/send" method="post">
    <input type="text" id="comment3" name="comment3" size="75" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd3">发布评论</button>
<br>

<div id="title4" class="title"></div><span id="uname4"></span>
<div id="msg4" class="msg"></div>
<div class="comment" id='com4'></div>
<form id="addForm" action="/topic/send" method="post">
    <input type="text" id="comment4" name="comment4" size="75" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd4">发布评论</button>
<br>

<div id="title5" class="title"></div><span id="uname5"></span>
<div id="msg5" class="msg"></div>
<div class="comment" id='com5'></div>
<form id="addForm" action="/topic/send" method="post">
    <input type="text" id="comment5" name="comment5" size="75" maxlength="150" placeholder="请输入不多于150字的内容"/>
</form>
<button type="button" id="submitAdd5">发布评论</button>

<script>
    $('#publish').click(function(){

        window.location.href = 'publish';
    })

    
    $.ajax({
                    type: 'POST',
                    url: "/topic/index",
                    contentType:'application/json',
                    datatype:'json',
                    success: function (data_dict) {
                        $('#msg1').html(data_dict['msg1'])
                        $('#msg2').html(data_dict['msg2'])
                        $('#msg3').html(data_dict['msg3'])
                        $('#msg4').html(data_dict['msg4'])
                        $('#msg5').html(data_dict['msg5'])
                        $('#title1').html(data_dict['title1'])
                        $('#title2').html(data_dict['title2'])
                        $('#title3').html(data_dict['title3'])
                        $('#title4').html(data_dict['title4'])
                        $('#title5').html(data_dict['title5'])
                        $('#uname1').html(data_dict['uname1'])
                        $('#uname2').html(data_dict['uname2'])
                        $('#uname3').html(data_dict['uname3'])
                        $('#uname4').html(data_dict['uname4'])
                        $('#uname5').html(data_dict['uname5'])
                        $('#com1').html(data_dict['comment1'])
                        $('#com2').html(data_dict['comment2'])
                        $('#com3').html(data_dict['comment3'])
                        $('#com4').html(data_dict['comment4'])
                        $('#com5').html(data_dict['comment5'])
                        }

              });

              $("#submitAdd1").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment1").val();
  var uname = window.localStorage.getItem('uname')
  var topic_uname = $("#uname1").text()
  var data = {'comment':comment,'uname':uname,'topic_uname':topic_uname};

   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
$("#submitAdd2").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment2").val();
  var uname = window.localStorage.getItem('uname')
  var topic_uname = $("#uname2").text()
  var data = {'comment':comment,'uname':uname,'topic_uname':topic_uname};

   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
$("#submitAdd3").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment3").val();
  var uname = window.localStorage.getItem('uname')
  var topic_uname = $("#uname3").text()
  var data = {'comment':comment,'uname':uname,'topic_uname':topic_uname};

   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
$("#submitAdd4").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment4").val();
  var uname = window.localStorage.getItem('uname')
  var topic_uname = $("#uname4").text()
  var data = {'comment':comment,'uname':uname,'topic_uname':topic_uname};

   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
$("#submitAdd5").click(function(){
  var targetUrl = $("#addForm").attr("action");
  var comment = $("#comment5").val();
  var uname = window.localStorage.getItem('uname')
  var topic_uname = $("#uname5").text()
  var data = {'comment':comment,'uname':uname,'topic_uname':topic_uname};

   $.ajax({
                    type: 'POST',
                    url: targetUrl,
                    contentType:'application/json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.code == 200) {
                            alert('success');
                            window.location.href = 'index';
                        } else {
                            alert('error');
                        }
                    }
                });
})
</script>
</body>
</html>