<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="/static/js/jquery-1.11.3.js"></script>
<body>
    <input type="number" id="price" name="price" placeholder="输入充值金额">
    <button id="btn">点击充值</button>


    <script>
    var userId= window.localStorage.getItem('uname')
    $("#btn").click(function(){
        $.ajax({
            url:"http://127.0.0.1:8000/me/payment",
            type:'post',
            data:{
                'price':$("#price").val(),
                'userid':userId,
            },
            dataType:'json',
            headers:{"X-csrftoken":$("[name='csrfmiddlewaretoken']").val()},
            success:function(re){
                console.log(re);
                window.location.href=re.pay_url
            }


            })
    })


    </script>

</body>
</html>