<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<style>
#pic{position: absolute;top: 50px; left: 60px;}
#msg{position:absolute; top:100px; left: 600px;}
</style>
<body>
<div id="pic"><img  id="PICTURE"  width="500px" height="300px"  alt="">
</div>
<div id="msg">
    <h4>商品名称：<span id="GOOD"></span> </h4>
    <h5>价格：￥<span id="PRICE"></span></h5>
    <h6>简介:<span id="INTRODUCE"></span></h6>

    <div id="addre"><input  id="ADDRESS" type="text" readonly ><button id="btn1">选用新地址</button></div>

    <button style="margin-left: 0;margin-top: 40px;" id="btn2">确认购买</button>
</div>

<script>
$("#btn1").click(function(){
$("#addre").html('<input type="text" placeholder="姓名" id="uname"><input type="text" placeholder="联系方式" id="phone"><input type="text" placeholder="地址" id="Address">')
})

</script>


    <script>
    var m=window.location.search
    var userId=window.localStorage.getItem('uname')//获取token，后端通过token取得user
    //var userId=2  //临时用，后去去本地的token
            if(m){
                gid=m.split('=')[1]
            }else{alert('error')}
            console.log(gid)
            console.log(userId)
            $.ajax({
                url:'http://127.0.0.1:8000/me/goodbuyview?id='+gid+'&userid='+userId,
                dataType:'json',
                type:'get',
                success:function(data){
                    console.log(data)
                    $("#GOOD").html(data.good)
                    $("#PICTURE").attr('src',data.img);
                    $("#PRICE").html(data.price)
                    $("#ADDRESS").val(data.address)
                    $('#INTRODUCE').html(data.msg)






                }


            })

    </script>

    <script>

            //var userId=2  //临时用，后去去本地的token
       var userId= window.localStorage.getItem('uname')
    $("#btn2").click(function(){
        if(m){
                gid=m.split('=')[1]
            }else{alert('error')}
       if($("#ADDRESS").val()){
           address_data=$("#ADDRESS").val()
       }else{
           if($("#uname").val()&&$("#phone").val()&&$("#Address").val()){
               address_data=$("#uname").val()+$("#phone").val()+$("#Address").val()
               console.log(address_data)
           }else{
               alert('请正确填写信息')
               location.reload()
           }
       }
    //    console.log(address_data)

        $.ajax({
            url:'http://127.0.0.1:8000/me/goodbuyview',
            type:'post',
            dataType:'json',
            headers:{"X-csrftoken":$("[name='csrfmiddlewaretoken']").val()},

            data:{
                'id':gid,
                'userid':userId,
                'address':address_data,
                },
                success:function(data){
                    if(data.code==200){alert('购买成功');
                    setTimeout(window.location.href=data.return_url,2000)}else{
                        alert('余额不足')
                        window.location.href='http://127.0.0.1:8000/me/payment'
                    }

                }
        })
    })
    </script>
</body>
</html>