<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!-- <script src="../static/js/bootstrap.min.js"></script> -->
<style>


</style>
<script src="/static/js/jquery.min.js"></script>
<body>
    <div  id='myfrom' style="align-content: center;width: 50%;display: inline-block;position: relative;">    
        <form method="post" action="http://127.0.0.1:8000/me/goods" enctype="multipart/form-data">
        <input class="form-control"  type="text" name="title" placeholder="输入商品名称："><br>
        <input class="form-control" type="number" name="price" placeholder="输入商品价格："><br>
        <!-- <input class="form-control" type="number" name="number" placeholder="数量"><br> -->
        <input class="form-control" type="text" name="key" placeholder="输入关键字"><br>
        <input class="form-control" type="text" name="introduce" placeholder="简单接受一下"><br>
        <input id='mytoken' type="text" hidden value="nihao" name="token">
      {% csrf_token %}
       <input type="file" name="myfile" >上传图片<br>
        <button >提交</button>
        

         </form>
         <!-- <img style="position: absolute;right: -60%;top: 0;width: 500px; height: 70%;" src="/static/images/goods.jpg" alt=""> -->
</div>

<script>
    //    $("#mytoken").val(window.localStorage.getItem('token'))  //获取本地token
    var userId= window.localStorage.getItem('uname')
    $("#mytoken").val(userId)





//     console.log('nihao')
// // $(".ceshi").click(function(){
// // console.log('nnnnn')
// // console.log($("#title").val())
// // console.log($('#exampleInputFile').val())
// // })
// $(".ceshi").click(function(){
//     var file_data=document.getElementById("exampleInputFile").files
//     var parmas=new FormData();
//     parmas.append('file',file_data[0])
//     console.log(123456)
//     $.ajax({
//         url:'http://127.0.0.1:8000/me/putgoods',
//         type:'post',
//         dataType:'json',

//         headers:{"X-csrftoken":$("[name='csrfmiddlewaretoken']").val(),
//                         'Content-type':'application/x-www-form-urlencode;charset=UTf-8',},
//         data:parmas,
//         success:function(re){
//             console.log(re)
//         }
// })
// })
</script>



</body>
</html>